.popup__profession-edit {
  max-width: 354px;
  width: 100%;
  min-height: 27px;
  height: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 600px) {
  .popup__profession-edit {
    max-width: 238px;
  }
}